{% extends "app/layout.html" %}

{% block content %}

<h2>Contact Information</h2>
<h3>Have a question? Reach us at:</h3>

<address>
    821 West Franklin Street<br />
    Richmond, VA 23284<br />
    <abbr title="Phone">P:</abbr>
    804.828.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:collinxavierbeatty@gmail.com">collinxavierbeatty@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:collinxavierbeatty@gmail.com">collinxavierbeatty@gmail.com</a>
</address>

{% endblock %}
