{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>WELCOME</h1>
    <p class="lead">You have reached a developing LIMS for the NARF Sequencing Core at Virginia Commonwealth University</p>
    <p><a href="http://www.csbc.vcu.edu//" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organize by Laboratory and Project</h2>
        <p>
            .
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instantiate and track sequencing jobs</h2>
        <p>.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Centralize sequence and quality access</h2>
        <p>
            .
        </p>
        <p><a class="btn btn-default" href="http://pytools.codeplex.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
