<!DOCTYPE html>
{% extends "app/order.html" %}
<html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<head>
    <title></title>
</head>
<body>
    {% block body_block %}
        <h1>Overwritten for Ordering a Sequencing Run</h1>
        <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Proceed to Data Entry" />
                </form>
    {% endblock %}
</body>
</html><!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

</body>
</html>